.modal-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
}
.modal-content{
    background: #fff;
    width: min(600px, 100%);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    padding: 24px;
    position: relative;
    max-height: 90vh;
    overflow: auto;

}