.searchbox {
  position: relative;
}

.searchbox.small {
  width: 150px;
}

.searchbox.big {
  width: 250px;
}

.searchbox-input {
  font-family: "Arial", sans-serif;
  background: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
}

.searchbox-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #9a9a9a;
  pointer-events: none;
}