table{
     border-collapse: collapse;
     border-radius: 10px;
     box-shadow: 0 0 20px rgba(0 0, 0, 0.15);
}
table td, th{
    padding: 5px;
    text-align: center;
   
}
tr:nth-child(even){
    background-color: #f3f3f3;
}
table th{
    background-color: #4CAF50;
    color: white;
    font-weight: normal;
}
