.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.toolbar-search {
  flex: 1;
}

.toolbar-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 12px;
}

.toolbar-actions .button {
  height: 32px;
}